.btn-primary{
    padding: 1rem;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 1px;
    z-index: 20;

    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.159);
    }
}

.reserve-btn{
    padding: 1.5rem;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 1px;
    z-index: 20;
    display: block;
    margin: 0 auto;
    transition: all 200ms;
    margin-top: 4rem;

    &:hover{
        cursor: pointer;
        background-color: tan;
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(-1px);
    }
}

.btn-contact{
    border: 1px solid #000;
}