.btn-primary{
    padding: 1.5rem 2rem;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.565);
    border: 2px solid #fff;
    border-radius: 3px;
    z-index: 20;

    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.696);
    }
}

.reserve-btn{
    padding: 1.5rem;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 1px;
    z-index: 20;
    display: block;
    margin: 0 auto;
    transition: all 200ms;
    margin-top: 4rem;

    &:hover{
        cursor: pointer;
        background-color: tan;
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(-1px);
    }
}

.btn-contact{
    border: 1px solid #000;

    @media only screen and (max-width:610px){
        border-color: #fff;
    }
}

.toggler{
    position: absolute;
    z-index: 999;
    right: 1rem;
    width: 4rem;
    aspect-ratio: 1;
    color: rgba(0, 0, 0, 0.666);
    border: 0;
    background: 0;
    display: none;

    &:hover{
        cursor: pointer;
        background-color: #edd9bf;
    }

    @media only screen and (max-width:610px){
        display: block;
    }
}

.btn-form{
    @media only screen and (max-width:610px){
        margin-top: 2.5rem
    }
}