.form{
    height: calc(100% - 8rem);
    width: clamp(60rem, 60%, 60rem);
    background-color: rgba(255, 255, 255, 0.912);
    padding: 2rem;
    color: #000;
    font-size: 2rem;
    font-weight: 300;
    overflow-y: scroll;

    &__group{
        margin-bottom: 2rem;

        @media only screen and (max-width:610px){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__input{
        width: 100%;
        padding: 1rem;
        border: 1px solid #000;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }

    &__label{
        display: block;
        margin-bottom: .5rem;
    }

    textarea{
        resize: none;
    }

    @media only screen and (max-width:610px){
        height: 100%;
        width: 100%;
        background-color: transparent;
        color: #fff;
        display: flex;
        flex-direction: column;
    }
}


