.form{
    height: calc(100% - 8rem);
    width: clamp(60rem, 60%, 60rem);
    background-color: #fff;
    padding: 2rem;
    color: #000;
    font-size: 2rem;
    font-weight: 300;
    overflow-y: scroll;

    &__group{
        margin-bottom: 2rem;
    }

    &__input{
        width: 100%;
        padding: 1rem;
        border: 1px solid #000;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }

    &__label{
        display: block;
        margin-bottom: .5rem;
    }

    textarea{
        resize: none;
    }
}