// font-family: 'Meie Script', cursive;
// font-family: 'Mrs Saint Delafield', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 62.5%;

    @media only screen and (max-width:610px){
        font-size: 50%;
    }
}

body{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    background-color: rgb(6, 6, 31);
    color: #fff;
}

.content{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    z-index: 0;
}