.hero{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/dist/images/hero.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.footer-padding{
    background-color: transparent;
    height: 4rem;
    width: 100%;

    @media only screen and (max-width:610px){
        height: 15rem;
    }
   
}

.map-container{
    height: calc(100vh - 8rem);
    width: 100%;

    @media only screen and (max-width:610px){
        height: calc(100vh - 20rem);
    }
}