.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
    font-family: 'Mrs Saint Delafield', cursive;
    &__main{
        font-size: 15rem;
        margin-bottom: -4rem;
        user-select: none;
    }
}