.info{
    position: fixed;
    top: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    min-height: 100vh;

    @media only screen and (max-width:610px){
        top: 5rem;
        height: calc(100vh - 20rem);
    }
}


.info-panel{
    height: calc(100vh - 8rem);
    width: 100%;
    padding: 4rem;
    font-size: clamp(1.7rem, 2.6vw , 2.5rem);
    font-weight: 100;
    line-height: 1.1;
    position: relative;
    overflow-y: scroll;
    top: -4rem;


    &__close{
        position: absolute;
        font-size: 4rem;
        color: #fff;
        top: 3rem;
        right: 3rem;

        &:hover{
            cursor: pointer;
        }

        @media only screen and (max-width:610px){
            top: 1rem;
            right: 2.5rem;
        }
    }

    &__content{
        height: 100%;
        width: 100%;
        display: flex;

        &--contact{
            justify-content: center;
        }

        @media only screen and (max-width:610px){
            flex-direction: column;
        }

        @media only screen and (min-width: 375px) and (max-width:610px){
            // height: 50%;
        }
    }
    &__content-main{
        height: calc(100% - 8rem);
        width: 50%;

        @media only screen and (max-width:610px){
            width: 100%;
        }
    }

    &__content-main--about{
        @media only screen and (max-width:610px){
            width: 100%;
            height: 50%;
        }
    }

    &__content-secondary{
        height: calc(100% - 8rem);
        width: 50%;
        padding: 0 4rem;

        @media only screen and (max-width:610px){
            width: 100%;
            margin-top: 3rem;
            font-size: 3rem;
        }
    }

    &--concepts{
        @media only screen and (max-width:610px){
            // overflow-y: scroll !important;
        }
    }

    &--about{
        margin: 0;
    }

    @media only screen and (max-width:610px){
        height: calc(100vh - 25rem);
        padding: 5rem 0;
        top: -12rem;
        overflow-y: scroll;
        padding-bottom: 0;
    }
}

.grid{
    width: 100%;

    display: grid;
    grid-template-rows: repeat(4, 30vw);
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

    &__img-container{
       padding: 3rem;
       border: 1px solid #fff;


        &--1{
            grid-row: 1/2;
            grid-column: 1/2;

            @media only screen and (max-width:610px){
                grid-row: initial;
                grid-column: initial;
            }
            
        }
        &--2{
            grid-row: 2/4;
            grid-column: 2/3;

            @media only screen and (max-width:610px){
                grid-row: initial;
                grid-column: initial;
            }
        }
        &--3{
            grid-row: 4/5;

            @media only screen and (max-width:610px){
                grid-row: initial;
                grid-column: initial;
            }
        }

        @media only screen and (max-width:610px){
            border: 0;
            padding: 0;
        }
    }

    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        transition: transform 1s;

        &:hover{
            transform: scale(1.01);
            cursor: pointer;
        }
    }

    &__textBox--1{
        margin: 3rem;

        @media only screen and (max-width:610px){
            grid-row: 2/3;
            grid-column: initial;
        }
    }
    &__textBox--2{
        margin: 3rem;

        @media only screen and (max-width:610px){
            grid-row: 4/5;
            grid-column: initial;
        }
    }
    &__textBox--3{
        margin: 3rem;
        grid-column: 2/3;

        @media only screen and (max-width:610px){
            grid-row: initial;
            grid-column: initial;
        }
    }

    &__text{
        font-size: clamp(1rem, 2vw, 2rem);
        line-height: 1.2;

        @media only screen and (max-width:610px){
            font-size: 2.5rem;
        }
    }

    @media only screen and (max-width:610px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 70vw)
    }
}

