.info{
    position: fixed;
    top: 4rem;
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.info-panel{
    height: 100%;
    width: 100%;
    padding: 4rem;
    font-size: clamp(1.7rem, 2.6vw , 2.5rem);
    font-weight: 100;
    line-height: 1.1;
    position: relative;

    &__close{
        position: absolute;
        font-size: 4rem;
        color: #fff;
        top: 3rem;
        right: 3rem;

        &:hover{
            cursor: pointer;
        }
    }

    &__content{
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__content-main{
        height: calc(100% - 8rem);
        width: 50%;
    }

    &__content-secondary{
        height: calc(100% - 8rem);
        width: 50%;
        padding: 0 4rem;
    }
}