.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-shrink: 3;
    font-size: 2rem;

    z-index: 1;
    background: #fff;
    width: 100%;
    color: #000;
    height: 4rem;
    
    &__nav-link{
        padding: 0 10px;
        padding-top: 5px;
        text-transform: uppercase;
        &--italic{
            font-style: italic;
        }
    }
}

.fa-instagram{
    display: inline-block;
    position: absolute;
    right: 1rem;
    -webkit-text-stroke: .5px white;
}